body {
	margin: 0;
}

.play {

}

.play .title {
	position: absolute;
	display: inline-block;
	margin-left: 12px;
	margin-top: 1em;
	color: white;
	background-color: rgba(0,0,0,0.6);
	padding: 1em 3em;
	width: 232px;
	border-radius: 1em;
	font-family: monospace;
}

.play img {

}

.play video {
	display: none;
}