body {
	margin: 0;
	background-color: black;
	width: 400px;
}

@media only screen and (max-device-width: 480px) {
	body {
		width: 60%;
		font-size: 20pt;
	}
}

.play {
	display: inline-block;
}

.play .title {
	display: block;
	margin-left: 5%;
	margin-top: 1em;
	color: white;
	background-color: rgba(255,255,255,0.2);
	padding: 1em 3em;
	width: 80%;
	border-radius: 1em 1em 0em 0em;
	font-family: monospace;
	border: 1px solid white;
	border-bottom-width: 0;
}

.play img, .play video {
	border: 2px solid rgba(255,255,255,0.6);
	width: 100%;
}

.play video {
	display: none;
}