body {
	margin: 0;
	background-color: black;
}

.play {

}

.play .title {
	display: block;
	margin-left: 12px;
	margin-top: 1em;
	color: white;
	background-color: rgba(255,255,255,0.2);
	padding: 1em 3em;
	width: 232px;
	border-radius: 1em 1em 0em 0em;
	font-family: monospace;
	border: 1px solid white;
	border-bottom-width: 0;
}

.play img {

}

.play video {
	display: none;
}