body {
	margin: 1em;
	background-color: black;
	font-family: monospace;
	color: white;
	width: 400px;
}

.play {
	width: 700px;
	display: inline-block;
}

.play .title {
	position: relative;
	display: block;
	width: 702px;

	text-align: center;
	margin-top: 1em;
	background-color: rgba(255,255,255,0.2);
	padding: 1em 0;
	border-radius: 1em 1em 0em 0em;
	border: 1px solid white;
	border-bottom-width: 0;
}
.play .title i {
	padding-right: 2em;
}

.play img, .play video {
	border: 2px solid rgba(255,255,255,0.6);
	width: 100%;
}

.play video {
	display: none;
	height: 573px;
}

.play .title span {
	position: absolute;
	right: 2em;
	color: orange;
}
.play .title * {
	font-style: normal;
}
.seconds:after {
	content: " seconds";
}
.minutes:after {
	content: " min ";
}


.no-videos {
	font-size: 14pt;
	text-align: center;
	width: 100%;
	padding: 1em 2em;
}



@media only screen and (max-device-width: 480px) {
	body {
		width: 60%;
		font-size: 20pt;
		margin-left: calc(50% - 350px);
	}
	.seconds:after {
		content: '"';
	}
	.minutes:after {
		content: "'";
	}
}
