doctype html
html(lang="en")
	head
		title Watch Clips
		link(rel='stylesheet', href='/watch.css')
		script(type='text/javascript', src='/jquery.js')
		script(type='text/javascript', src='/jquery.unveil.js')
		script(type='text/javascript', src='/date-format.js')
		script(type='text/javascript', src='/watch-app.js')
	body
		