doctype html
html(lang="en")
	head
		title= info.date_text
		link(rel='stylesheet', href='/watch.css')
		script(type='text/javascript', src='/jquery.js')
		script(type='text/javascript', src='/watch.js')
	body
		